## Churn_Data

In [ ]:
# import necesarry libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('Churn.csv')

In [4]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### Observation
1. There is no NA Values

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [8]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [ ]:
# I have drop the unused data

In [ ]:
data.drop('customerID',axis=1,inplace=True)

In [11]:
x=data[['gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges']]

In [12]:
y=data['Churn']

In [13]:
x_cat_cols=x.select_dtypes(include='object')
x_num_clos=x.select_dtypes(include='number')

In [14]:
x_cat_cols.head(2)

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges
0,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85
1,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,1889.5

In [15]:
x_num_clos.head(2)

   SeniorCitizen  tenure  MonthlyCharges
0              0       1           29.85
1              0      34           56.95

In [ ]:
# I have convert the Categorical data into numerical data by 'pd.get_dummies'

In [20]:
x_cat_cols=pd.get_dummies(x_cat_cols,dtype=int)

In [21]:
x_cat_cols.head(3)

,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,MultipleLines_No,MultipleLines_No phone service,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,1,0,0,1,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
x=pd.concat([x_cat_cols,x_num_clos],axis=1)

In [23]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Columns: 6575 entries, gender_Female to MonthlyCharges
dtypes: float64(1), int32(6572), int64(2)
memory usage: 176.7 MB

In [24]:
x.head(3)

,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,MultipleLines_No,MultipleLines_No phone service,...,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9,SeniorCitizen,tenure,MonthlyCharges
0,1,0,0,1,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,29.85
1,0,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,34,56.95
2,0,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,2,53.85

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [26]:
x_train.shape

(5282, 6575)

In [33]:
x_test.shape

(1761, 6575)

In [31]:
data.shape

(7043, 20)

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [34]:
logit_model=LogisticRegression()
logit_model.fit(x_train,y_train)

C:\Users\Zestkart.in\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [35]:
test_prediction=logit_model.predict(x_test)
train_prediction=logit_model.predict(x_train)

In [36]:
print("train accuracy score:",accuracy_score(y_train,train_prediction)*100)

train accuracy score: 81.78720181749337

In [37]:
print("test accuracy score:",accuracy_score(y_test,test_prediction)*100)

test accuracy score: 80.23850085178876

In [38]:
confusion_matrix(y_test,test_prediction)

array([[1168,  136],
       [ 212,  245]], dtype=int64)

In [39]:
print(classification_report(y_test,test_prediction))

              precision    recall  f1-score   support

          No       0.85      0.90      0.87      1304
         Yes       0.64      0.54      0.58       457

    accuracy                           0.80      1761
   macro avg       0.74      0.72      0.73      1761
weighted avg       0.79      0.80      0.80      1761

In [40]:
data['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

# Decision_Tree

In [41]:
target=data['Churn']

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=35)

In [45]:
decissiontree_model=DecisionTreeClassifier(class_weight='balanced',criterion='entropy').fit(x_train,y_train)
train_prediction=decissiontree_model.predict(x_train)
test_prediction=decissiontree_model.predict(x_test)

In [50]:
print('Decision Tree Train accuracy score :',accuracy_score(y_train,train_prediction)*100)

print('Decision Tree Test accuracy score :',accuracy_score(y_test,test_prediction)*100)

Decision Tree Train accuracy score : 99.7515086971956
Decision Tree Test accuracy score : 77.2888573456352

In [51]:
confusion_matrix(y_test,test_prediction)

array([[889, 173],
       [147, 200]], dtype=int64)

In [53]:
print(classification_report(y_test,test_prediction))

              precision    recall  f1-score   support

          No       0.86      0.84      0.85      1062
         Yes       0.54      0.58      0.56       347

    accuracy                           0.77      1409
   macro avg       0.70      0.71      0.70      1409
weighted avg       0.78      0.77      0.78      1409